{% if pending_items.pending_purchase_orders %}
    <h2>Órdenes de compra pendientes</h2>
    {% for order in pending_items.pending_purchase_orders %}
        <h3>Orden de compra <a href="{{ order.get_absolute_url }}">{{ order }}</a> por:</h3>
        <ul class="actionlist">
            {% for purchased_product in order.purchasedproduct_set.all %}
                <li>
                    {{ purchased_product.quantity }} x
                    <span class="quiet">
                        <a href="{{ purchased_product.product.get_absolute_url }}">
                            {{ purchased_product.product }}
                        </a>
                    </span>
                </li>
            {% endfor %}
            <input onclick="" type="button" value="Confirmar"/>
            <input type="button" value="Cancelar"/>
        </ul>
    {% endfor %}
{% endif %}

{% if pending_items.pending_product_entries %}
    <h2>Ingresos de producto pendientes</h2>
    {% for entry in pending_items.pending_product_entries %}
        <h3>{{ entry.purchase_order }} {{ entry.inventory }}</h3>
        <ul class="actionlist">
            {% for entered_product in entry.enteredproduct_set.all %}
                <li>
                    {{ entered_product.quantity }} x
                    <span class="quiet">
                        <a href="{{ entered_product.product.get_absolute_url }}">
                            {{ entered_product.product }}
                        </a>
                    </span>
                </li>
            {% endfor %}
        </ul>
        <input type="button" value="Confirmar"
               onclick="window.location.href = 'http://localhost:8000{{ entry.get_confirm_url }}';"/>
        <input type="button" value="Cancelar"
               onclick="window.location.href = 'http://localhost:8000{{ entry.get_cancel_url }}';"/>
    {% endfor %}
{% endif %}

{% if pending_items.pending_product_removals %}
    <h2>Merma de producto pendiente</h2>
    {% for product_removal in pending_items.pending_product_removals %}
        <h3>{{ product_removal }}:</h3>
        <ul class="actionlist">
            {% for removed_product in product_removal.removedproduct_set.all %}
                <li>
                    {{ removed_product.quantity }} x
                    <span class="quiet">
                        <a href="{{ removed_product.product.get_absolute_url }}">
                            {{ removed_product.product }}
                        </a>
                    </span>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endif %}
