{% extends 'admin/base_site.html' %}
{% load i18n admin_urls admin_static admin_list %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo;
        <a href="{{ app_list }}">Inventarios</a>
        &rsaquo;
        <a href="{{ inventory_list_url }}">Lista de inventarios</a>
        &rsaquo; Detalle
    </div>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "inventories/css/inventory.css" %}"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/t/dt/jqc-1.12.0,jszip-2.5.0,pdfmake-0.1.18,dt-1.10.11,b-1.1.2,b-html5-1.1.2,b-print-1.1.2,se-1.1.2/datatables.min.css"/>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="{% static "inventories/scripts/inventory.js" %}"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/t/dt/jqc-1.12.0,jszip-2.5.0,pdfmake-0.1.18,dt-1.10.11,b-1.1.2,b-html5-1.1.2,b-print-1.1.2,se-1.1.2/datatables.min.js"></script>
{% endblock %}

{% block content %}
    <div id="content-main">
        <table id="inventoryTable" class="display" cellspacing="0" width="100%">
            <thead>
            {% for header in table_headers %}
                <th>{{ header }}</th>
            {% endfor %}
            </thead>
            <tbody>
            {% for item_array in inventory_items %}
                <tr>
                    {% for attribute in item_array %}
                        <td>{{ attribute }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}