{% extends 'admin/base_site.html' %}
{% load i18n admin_urls admin_static admin_list %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo;
        <a href="{{ app_list }}">Inventarios</a>
        &rsaquo;
        <a href="{{ inventory_list_url }}">Lista de inventarios</a>
        &rsaquo; Detalle
    </div>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static  'inventories/css/datatables.min.css' %}"/>
{% endblock %}

{% block extrascripts %}
    <script>
        var PRODUCT_INV_ITEM_API_URL = APP_DOMAIN + "{{ product_inv_item_api_url }}";
    </script>
    <script type="text/javascript"
            src="{% static 'inventories/scripts/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static "inventories/scripts/inventory.js" %}"></script>
{% endblock %}

{% block content %}
    <div id="content-main">
        <table id="inventoryTable" class="display" cellspacing="0" width="100%">
            <thead>
            {% for header in table_headers %}
                <th>{{ header }}</th>
            {% endfor %}
            </thead>
            <tbody>
            {% for item_array in inventory_items %}
                <tr>
                    {% for item in item_array %}
                        {% if item.type == "label" %}
                            <td>
                                <label name="{{ item.name }}">{{ item.attribute }}</label>
                            </td>
                        {% elif item.type == "input" %}
                            <td>
                                {% if is_input_editable %}
                                    <input type="number" name="{{ item.name }}" value="{{ item.attribute }}"/>
                                {% else %}
                                    <label>{{ item.attribute }}</label>
                                {% endif %}
                            </td>
                        {% elif item.type == "hidden" %}
                            <input type="hidden" name="{{ item.name }}" value="{{ item.attribute }}"/>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}